<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- D: Debug, I: Information, M: Malicious, W: Warning, E: Error...-->
		<add key="logging" value="DIMWE" />
		<!-- Clear the log file on loading 1: yes, 0: no -->
		<add key="clearlog" value="1" />
		<!-- The server port -->
		<add key="port" value="500" />
		<!-- The server ip (127.0.0.1) -->
		<add key="ip" value="127.0.0.1" />
		<!-- Your network name, e.g. SSC -->
		<add key="network" value="SIUS" />
		<!-- The zone authentication password. Leave blank to allow any zone. -->
		<add key="password" value="" />
		<!-- Leave blank to accept any protocol version. Specify multiple protocols using a comma. -->
		<add key="protocol" value="1.3.1" />
		<!-- Leave blank to accept any server and version. Specify multiple servers using a comma. -->
		<add key="server" value="asss 1.4.3,asss 1.4.4,asss 1.4.5,asss 1.5.0 rc1,asss 1.5.0 rc2" />
		<!-- md5, sha1, sha256, sha384, sha512, ripemd160 -->
		<add key="hash" value="sha512" />
		<!-- 1: salt, 0: no -->
		<add key="salt" value="1" />
		<!-- The maximum number of zones allowed to be connected (leave blank for unlimited) -->
		<add key="maxzones" value="3" />
		<!-- The maximum number of players allowed to be connected (leave blank for unlimited) -->
		<add key="maxplayers" value="100" />
		<!-- 3: Allow new players but refuse old, 2: Allow old players but refuse new,
			1: Accept all players, 0: Refuse all connections -->
		<add key="newplayers" value="1" />
		<!-- Send an optional greeting message once a player logs in a zone. -->
		<add key="greeting" value="Welcome, you are currently connected to the SIUS biller." />
		<!-- Specify the sound number, 0: no sound. -->
		<add key="greetsound" value="0" />
		<!-- Specify the maximum number of chats allowed. -->
		<add key="chatlimit" value="10" />
		<!-- How often we should ping zones (in seconds). -->
		<add key="ping" value="150" />
		<!-- How often we should send scoreresets (in hours). -->
		<add key="scorereset" value="336" />
		<!-- 1: only squad members can use #squad chat, 0: anyone can contact any squad -->
		<add key="squadonlychat" value="0" />
		<!-- The maximum number of messages allowed to be sent (leave blank for unlimited). -->
		<add key="maxsent" value="20" />
		<!-- The maximum number of messages allowed to be stored in a player's inbox (leave blank for unlimited). -->
		<add key="maxinbox" value="4" />
 	</appSettings>
</configuration>
